@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');
* {
    font-family: 'Poppins', sans-serif;
}

.bg-main {
    background-color: #138483;
}

.bg-main-2 {
    background-color: #59BAB8;
}

input[type="text"],
input[type="password"],
input [type="checkbox"] {
    background-color: #59BAB8;
}

.bg-main-gray {
    background-color: #59BAB8;
}